<main>
  <header>
    <div>icon</div>
    <div class="option-container">
      <select>
        <option>font1</option>
      </select>

      <div>
        theme toggle
      </div>

      <div>
        theme icon
      </div>
    </div>
  </header>
  <section>
    <input class="word-input" type="text" [(ngModel)]="word" (keydown.enter)="onSearch()"/>
  </section>
  @if (searchedWordInfo$ | async; as words) {
    <section>
      @for (word of words; track word.word) {
        <div class="word-content">
          <div class="heading">
            <div>
              <p class="word-label">{{ word.word }}</p>
              <p class="phonetic">{{ word.phonetic }}</p>
            </div>
            <div class="play-btn-container">
              <button>Play</button>
            </div>
          </div>

          <word-meaning *ngFor="let meaning of word.meanings" [meaningData]="meaning" />

          <div class="source-content">
            <span>
              Source
            </span>
            <a target="_blank"> {{ word.sourceUrls }} </a>
          </div>
        </div>
      } @empty {
        <p>No information for word {{ words }}</p>
      }
    </section>
  }
</main>

<router-outlet/>
