<main>
  <header>
    <div>icon</div>
    <div class="option-container">
      <select>
        <option>font1</option>
      </select>

      <div>
        theme toggle
      </div>

      <div>
        theme icon
      </div>
    </div>
  </header>
  <section>
    <input class="word-input" type="text" [(ngModel)]="word" (keydown.enter)="onSearch()"/>
  </section>
  @if (searchedWordInfo$ | async; as words) {
    <section>
      @for (word of words; track word.word) {
        <div class="word-content">
          <div class="heading">
            <div>
              <p class="word-label">{{ word.word }}</p>
              <p class="phonetic">{{ word.phonetic }}</p>
            </div>
            <div class="play-btn-container">
              <button>Play</button>
            </div>
          </div>

          @for (meaning of word.meanings; track meaning.definitions) {
            <div class="meaning-content">
              <p class="part-of-speech">{{ meaning.partOfSpeech }}</p>
              <p class="meaning-label">Meaning</p>
              <ul class="meaning-list">
                @for (definition of meaning.definitions; track definition.definition) {
                  <li>
                    <p>
                      {{ definition.definition }}
                    </p>
                    @if (definition.example !== '') {
                      {{ definition.example }}
                    }
                  </li>
                }
              </ul>

              @if (meaning.synonyms.length > 0) {
                <div class="additional-info">
                  <p class="meaning-label">
                    Synonyms
                  </p>
                  <a>
                    <span>{{ meaning.synonyms.join(" ") }}</span>
                  </a>
                </div>
              }

              @if (meaning.antonyms.length > 0) {
                <div class="additional-info">
                  <p class="meaning-label">
                    Antonyms
                  </p>
                  <a>
                    <span>{{ meaning.synonyms.join(" ") }}</span>
                  </a>
                </div>
              }
            </div>
          }

          <div class="source-content">
            <span>
              Source
            </span>
            <a target="_blank"> {{ word.sourceUrls }} </a>
          </div>
        </div>
      } @empty {
        <p>No information for word {{ words }}</p>
      }
    </section>
  }
</main>

<router-outlet/>
